*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
color: #fff;
background-image: url('pexels-no-name-66997.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
}


.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, .3);
    height: 100vh;
}

.header{
    padding: 50ox 20px 30px 20px;
}

.header h1{
    font-size: 50px;
    color: #fbb034;
    text-shadow: 1px 3px rgba(0, 0, 0, .3);
    margin-top: 100px;
}

.header input{
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #fbb034;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #f2f2f2;
}


.city{
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 10px;
    text-shadow: 1px 3px rgba(0, 0, 0, .8);
}

.temp{
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 15px;
    text-shadow: 1px 3px rgba(0, 0, 0, 1);
}

.desc{
    font-size: 25px;
    font-style: italic;
    text-shadow: 1px 3px rgba(0, 0, 0, .8);
    margin-bottom: 20px;

}

.minmax{
    font-size: 24px;
    text-shadow: 1px 3px rgba(0, 0, 0, 1);
}

